*.ipynb_checkpoints/
*.zip
*.*~
/latex/AESPlan.aux
/latex/AESPlan.fls
/latex/AESPlan.log
/latex/AESPlan.pdf
/latex/AESPlan.synctex.gz
/latex/AESPlan.toc
*/*/build/
/doc/AES/paper0.pdf
/latex/build/AESPlan.aux
/latex/build/AESPlan.fdb_latexmk
/latex/build/AESPlan.fls
/latex/build/AESPlan.log
/latex/build/AESPlan.pdf
/latex/build/AESPlan.synctex.gz
/latex/build/AESPlan.toc
*.pyc
*.vcd.*
*.vcd
/latex/build/
